<div class="nume">{{ nume }}</div>
<div class="pret_benzina_regular">{{ pret_benzina_regular }}</div>
<div class="pret_benzina_premium">{{ pret_benzina_premium }}</div>
<div class="pret_motorina_premium">{{ pret_motorina_premium }}</div>
<div class="pret_motorina_regular">{{ pret_motorina_regular }}</div>
<div class="data">{{ data }}</div>
<div class="utilizator">{{ utilizator }}</div>